body {
  width: 1200px;
  margin-left: 40px;
  background-color: black;

}

.main-container {
  display: flex;
  justify-content: center;
}

.logo-and-links {
  display: flex;
  gap: 25px;
  margin-bottom: 40px;
  flex-shrink: 0;


}

.logo-and-links,
a {
  text-decoration: none;
  color: #f9faf8;
  flex-shrink: 0;
}

.move-right {
  margin-left: 205px;
}



.first-section {
  margin-left: 150px;
  margin-right: 150px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background-color: #1f2937;
  padding-left: 40px;
  padding-bottom: 40px;
  padding-top: 10px;
  color: #f9faf8;

}

.card {
  display: flex;
  width: 250px;
  height: auto;
  flex-wrap: wrap;
  flex: 1 1 auto;



}

.header-logo {
  color: #f9faf8;
  font-size: 18px;
  margin-left: 100px;

}

.first-title {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  flex: 1 1 auto;

}


.right-card {
  font-size: small;
  flex-shrink: 0;
  background-color: #82848a;
  height: 25px;
  width: 100px;
  padding: 50px;
  flex: 1 1 auto;

}

.card-container {
  display: flex;
  gap: 80px;
  margin-left: 100px;
  margin-right: 100px;

}

button {
  margin-top: 10px;
  background-color: #3882f6;
  color: #f9faf8;
  cursor: pointer;
  padding: 5px 20px;
  border-style: none;
  border-radius: 15%;

}

h3 {
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
}

.square-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.square {
  width: 75px;
  height: 75px;
  border: solid #3882f6;
  border-radius: 10%;

}

.square-subtext {
  font-size: x-small;
}

.second-section {
  background-color: #f9faf8;

}


.third-section {

  background-color: #e5e7eb;
  text-align: start;
}

.second-section,
.third-section {
  margin-left: 150px;
  margin-right: 150px;
  padding: 15px 50px 30px 50px
}

.third-section-content {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-style: light italic;
  color: #1f2937;
  flex-shrink: 1;
}

.thor {
  display: flex;
  justify-content: flex-end;
  margin-right: 150px;

}


.forth-section {
  background-color: #ced1d8;
  justify-content: center;
  align-items: center;
}

.sign-up {
  background-color: #3882f6;
  padding: 10px 20px;
  border-style: solid;
  border-color: #ced1d8;
  margin-left: 40px;
  display: flex;
  border-radius: 10px;
  margin-top: 30px;
  width: 600px;
  margin-right: 100px;
}

.small {
  font-size: 12px;
}

footer .first-section {
  background-color: #36383a;
  justify-content: center;
  padding:20px;
  color:#c7c9ce

}
  

